/* ----- Global ----- */

* {
  font-family: 'Gotham', 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

p.pad {
  padding: 5px 10px;
}


@media screen and (min-width: 1469px){
  .map {
    height: 420px;
  }
}

@media screen and (min-width: 769px){
  p.pad {
    padding: 20px 10px;
  }

  .map {
    background-image: url('../images/map.jpg');
    background-position: center right;
    background-size: 60% auto;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.constrain-width {
  max-width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

a, a:hover {
  color: #000;
}

.btn-footer {
  border: 2px #E51635 solid;
  background-color: transparent;
  color: #E51635;
}

.btn-footer:active,
.btn-footer:hover, 
.btn-footer:focus {
  border: 2px #E51635 solid !important;
  background-color: transparent !important;
  color: #E51635 !important;
}

.btn-hero {
  border: 2px #fff solid;
  background-color: transparent;
  color: #fff;
}

.btn-hero:active,
.btn-hero:hover, 
.btn-hero:focus {
  border: 2px #fff solid !important;
  background-color: transparent !important;
  color: #fff !important;
}

/* ----- Nav ----- */

.navbar {
  margin-top: 20px;
  margin-bottom: 0px;
}

.navbar-brand { height: 55px;  margin: 5px 10px !important;  }
.navbar-brand img { height: 100%;}


/* ----- Hero ----- */

.hero {
  position: relative;;
  text-align: center;
  background-image: url('../images/hero_bg.png');
  background-color: #E51635;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}

.hero .cta {
  white-space: nowrap;
}

.hero .col-sm-3 img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.hero .btn {
  background: transparent;
  border-color: #fff;
  color: #fff;
  font-weight: 400;
}

.hero p {  padding: 0.5em; }

.download-app-store {  max-width: 200px; padding-bottom: 1em; }

@media screen and (min-width: 768px){
  
  .hero .cta {
    padding: 2.7em 0 1.6em;
  }

  .hero {
    margin-bottom: 40px;
  }

  .hero .col {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .download-app-store, .btn {  max-width: 200px; bottom: 1em; }
  
}


@media screen and (min-width: 875px){
  .hero .cta {
    font-size: 1.2em;
    padding: 3em 0 1.6em;
  }
}

@media screen and (min-width: 1000px){
  .hero .cta {
    font-size: 1.35em;
    padding: 3.3em 0 2em;
  }
}
 

@media screen and (min-width: 1300px){
  .hero .cta {
    font-size: 1.55em;
  }
} 

@media screen and (max-width: 768px){
  .hero .cta {
    padding-top: 30px;
  }
  .hero .col {
    padding-bottom: 20px;
  }
}



/* ----- Widgets ----- */
.widgets {  text-align: center; color: #E51635; padding: 30px 0 50px; }
.widgets img { max-height: 200px; }
.widgets .title { 
  padding: 10px; display: inline-block; 
  font-size: 1.3em;
}
@media screen and (max-width: 768px){ 
  .widgets .img-shrink-wrap { width: 50%; margin: 0 auto;}
}

@media screen and (max-width: 996px){ 
  .widgets .img-shrink-wrap { width: 70%; margin: 0 auto;}
}

@media screen and (min-width: 769px){
  .widgets p { padding: 0 20px; }
  .widgets .img-wrap { height: 200px; }
}


/* ----- Promotional ----- */
.promotional {
  padding: 180px 20px;
  background-color: #C9C9C9;
  text-align: center;
}


/* ----- Locations ----- */
.locations {
  text-align: center; 
}
.locations_left {
  padding-top: 35px;
  padding-bottom: 35px;
  background: #fff;
}


@media screen and (min-width: 920px){
  .locations_left {
    padding-top: 60px;
    padding-bottom: 60px
  }
}


@media screen and (min-width: 1270px){
  .locations_left {
    padding-top: 80px;
    padding-bottom: 80px
  }
}

@media screen and (min-width: 1509px){
  .locations_left {
    padding-top: 130px;
    padding-bottom: 130px
  }
}

/* ----- Rewards ----- */

.rewards {
  text-align: center;
  background-color: #960D2E;
  color: #fff;
}

.rewards_right {
  padding-top: 25px;
  padding-bottom: 25px
}

@media screen and (min-width: 920px){
  .rewards_right {
    padding-top: 35px;
    padding-bottom: 35px
  }
}


@media screen and (min-width: 1270px){
  .rewards_right {
    padding-top: 80px;
    padding-bottom: 80px
  }
}

@media screen and (min-width: 1509px){
  .rewards_right {
    padding-top: 130px;
    padding-bottom: 130px
  }
}

.rewards {
  background-image: url('../images/rewards_left.png');
  background-position: 5% center;
  background-size: 50% auto;
  background-repeat: no-repeat;
  height: 100%;
}

@media screen and (max-width: 769px){
  .rewards {
    background-color: #fff;
    color: #000;
  }
  .rewards_right {
    margin-top: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
  }
  .rewards {
    background-color: #960D2E;
    background-size: auto 300px;
    background-position: top center;
  }
}

/* ---- terms ---- */

.terms {
  text-align: center;
  padding-bottom: 200px;
}

/* ---- Footer ---- */
.footer {
  padding: 40px;
}
.footer a {
  display: block;
  padding: 5px;
}
.footer .btn-primary {
  margin: 20px;
  width: 100%;
  max-width: 220px;
}

.footer_right {
  text-align: right;
}

@media screen and (max-width: 769px){
  .footer {
    background: #960D2E;
  }

  
  .btn-footer {
    border: 2px #fff solid;
    background-color: transparent;
    color: #fff;
  }

  .btn-footer:active,
  .btn-footer:hover, 
  .btn-footer:focus {
    border: 2px #fff solid !important;
    background-color: transparent !important;
    color: #fff !important;
  }

  a {
    color: #fff;
  }
  
  .footer .col-xs-12 {
    padding: 20px;
  }

  .footer .btn-primary {
    width: 100%;
    margin: 0px;
  }
}